# Port to serve content on
PORT=3000

# Interval to update data in seconds
UPDATE_INTERVAL_SECONDS=86400

# Base URL for the API, used for generating links to images
API_BASE_URL=http://api.psmods.net

# URL for the wiki action api
WIKI_API_URL=https://ferrets.piratesoftware.wiki/w/api.php
